/* src/components/UpperMenu/styles.css */

.sc-upper-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.sc-upper-menu__left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sc-upper-menu__right {
  display: flex;
  align-items: center;
  gap: 12px;
}


.sc-upper-menu__app {
  background-color: var(--triplex-next-color-brand-0);
}

