/* src/components/Layout/styles.css */

.sc-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: padding-left 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

.sc-layout_theme_light {
  background-color: var(
    --triplex-next-ColorNeutral-90-1-7-0,
    var(--triplex-next-ColorNeutral-90-1-6-1, #f2f4f7)
  );
  color: var(
    --triplex-next-Typography-Primary_Color-1-7-0,
    var(--triplex-next-Typography-Primary_Color-1-6-1, #0f172a)
  );
}

.sc-layout_theme_dark {
  background-color: var(
    --triplex-next-ColorNeutral-90-1-7-0,
    var(--triplex-next-ColorNeutral-90-1-6-1, #1e2330)
  );
  color: var(
    --triplex-next-Typography-Primary_Color-1-7-0,
    var(--triplex-next-Typography-Primary_Color-1-6-1, #e5e7eb)
  );
}

.sc-layout_menu_full {
}
.sc-layout_menu_compact {
}

.sc-layout__header {
  border-bottom: 1px solid;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sc-layout_theme_light .sc-layout__header {
  border-color: #e0e0e0;
  background-color: #fff;
}

.sc-layout_theme_dark .sc-layout__header {
  border-color: rgba(148, 163, 184, 0.3);
  background-color: #1e293b;
}

.sc-layout__upper-menu {
  border-bottom: 1px solid;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sc-layout_theme_light .sc-layout__upper-menu {
  border-color: #e0e0e0;
  background-color: #fff;
}

.sc-layout_theme_dark .sc-layout__upper-menu {
  border-color: rgba(148, 163, 184, 0.3);
  background-color: #1e293b;
}

/* Основной контент (включая раздел "Этот кластер" и карточки) */
.sc-layout__main {
  flex: 1;
  /* padding: 24px; */
  box-sizing: border-box;
  overflow: auto;
  transition: background-color 0.3s ease;
}

.sc-layout_theme_light .sc-layout__main {
  background-color: var(
    --triplex-next-ColorNeutral-100-1-7-0,
    var(--triplex-next-ColorNeutral-100-1-6-1, #ffffff)
  );
}

.sc-layout_theme_dark .sc-layout__main {
  background-color: var(
    --triplex-next-ColorNeutral-100-1-7-0,
    var(--triplex-next-ColorNeutral-100-1-6-1, #171b27)
  );
}

/* Нижняя плашка */
.sc-layout__footer {
  border-top: 1px solid;
  padding: 8px 24px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.sc-layout_theme_light .sc-layout__footer {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #777;
}

.sc-layout_theme_dark .sc-layout__footer {
  border-color: rgba(148, 163, 184, 0.3);
  background-color: #1e293b;
  color: #f1f5f9;
}
